{% extends "form_div_layout.html.twig" %}

{# This contains parts of the twig forms that have been overwritten
    When adding a block please comment on why it has been added
#}

{# Add an error class (yg_form_error) to form errors so we can style them sensibly #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="yg_form_error">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{# Similar to the way FOSUserbundle handles form element translations.
    Replaces all hyphens with dots so we can use the built in translation nesting
    (replace({'-':'.'})
#}
{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|replace({'_':'.'})|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|replace({'_':'.'})|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}