{# Extend the base layout file #}
{% extends 'base.html.twig' %}

{% block main_content %}

    <div id="ad-top" class="center row large-5 small-5">
        <img src="http://placehold.it/728x90"/>
    </div>

    <div id="search-container" class="center row large-5 small-5">

        <h1>
            {% image '@YeargleCoreBundle/Resources/public/images/yeaglelogo.png' %}
            <img src="{{ asset_url }}" alt="Yeargle" />
            {% endimage %}
            {% image '@YeargleCoreBundle/Resources/public/images/beta.png' %}
            <img src="{{ asset_url }}" class="beta" alt="Beta" />
            {% endimage %}
        </h1>

        <div class="row center">

            {{ form_start(searchForm) }}
                <div class="row collapse center">
                    {{ form_row(searchForm.search_element_text) }}
                    <div id="main-search-btn">
                        {{ form_row(searchForm.search_element_search) }}
                    </div>
                    <div id="main-search-rand" class="pull-right">
                        {{ form_row(searchForm.search_element_random) }}
                    </div>

                </div>
            {{ form_end(searchForm) }}
            <form id="main-search-form" accept-charset="UTF-8" action="yeargle-search" method="POST">
                <div class="row collapse center">
                    <div class="small-12 large-12 center ">
                        <input type="text" id="search-query" name="searchquery" autocomplete="off" placeholder="Search Within The Last Year"/>
                        <input type="button" class="button" value="Search"/>
                        <input type="button" class="button" value="Show Me Something Random"/>
                    </div>
                </div>
            </form>
        </div>




    </div>

    <div id="ad-bottom" class="center row large-5 small-5">
        <img src="http://placehold.it/728x90"/>
    </div>
    <div class="clear"></div>

    <div class="center row large-5 small-5">
        <div class="clear"></div>
        <footer class="footer">
            <div class="large-12 small-12 columns disclaimer">
                Yeargle.com is a bit of fun and is not associated with Google&#8482; in any way.
            </div>
            <div class="large-12 small-12 columns">
                <hr />
                <div class="">

                    <p class="left">&copy; Yeargle.</p>


                    <ul class="inline-list right">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a target="_blank" href="http://twitter.com/yearglesearch">&#64;Yearglesearch</a></li>
                    </ul>

                </div>
            </div>
        </footer>
    </div>



{% endblock main_content %}
